.cartHead {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  font-weight: 1000;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customRecipeHead {
  font-size: 30px;
  text-align: center;
}

.separateCart {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5vw;

}

.CartMain {
  display: flex;
  flex-direction: column;
}

.totalCart {
  background-color: #D9D9D9;
  width: 25vw;
  height: 240px;
  padding: 10px 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.promoSection a {
  text-decoration: none;
}

.totalCart div {
  display: flex;
  justify-content: space-between;
}

.totalCart div p {
  margin: 6px;
}

.totalCheckout {
  font-size: 22px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
}

.surroundCheckout {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkoutHead {
  font-size: 40px;
  text-align: center;
  font-weight: 1000;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addressInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 60%;
  margin: auto;
}

.addressAddedPop {
  font-size: 25px;
}

.totalCheckoutBox {
  display: flex;
  flex-direction: row;
}

.secondCol {
  margin-right: 20px;
}

.paymentHead {
  font-size: 25px;
  text-align: center;
}

.firstCol {
  margin-right: 20px;
}

.paymentBtn {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  margin: 10px 0;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.paymentIcon {
  width: 120px;
  height: 70px;
}

.paymentOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mainCheckoutPage {
  display: flex;
  flex-direction: row;
}

.paymentMode {
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  height: 60px;
  width: 380px;
  margin-bottom: 20px;
  grid-template-columns: 1fr 4fr;
  display: grid;
  cursor: pointer;
}

.paymentAddress {
  display: flex;
  flex-direction: column;
}

.paymentMode img {
  width: 50px;
  padding-left: 5px;
}

.condiCLick {
  border: 2px solid;
}

.addressInputs input {
  width: 350px;
  height: 50px;
  /* border-radius: 10px; */
  border: none;
  margin: 10px auto;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid;
}

.addressInputs input::placeholder {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

@media(max-width:800px) {
  .totalCheckoutBox {
    flex-direction: column;
    align-items: center;
  }

  .addressInputs input {
    width: 300px;
  }

  .surroundCheckout {
    align-items: center;
  }

  .addressInputs {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }

  .paymentBtn {
    width: 70%;
    text-align: center;
  }
}

@media(max-width:1216px) {

  .addressInputs {
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:1143px) {
  .totalCart {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 0 10px;
  }
}

@media(max-width:1200px) {
  .separateCart {
    flex-direction: column;
    align-items: center;
  }
}